<div class="home-container">
  <img src="assets/LOGO_PNG.png" alt="Logo Divercity" class="logo" />
  <h1>Bienvenido, {{ authService.getName() || 'Invitado' }}</h1>

  <nav class="menu">
    <!-- Siempre disponible -->
    <a routerLink="/atracciones" class="menu-button">Ver atracciones</a>

    <!-- Si NO está logueado -->
    @if (!authService.isLoggedIn()) {
      <a routerLink="/login" class="menu-button">Iniciar sesión</a>
      <a routerLink="/registro" class="menu-button">Registrarse</a>
    } @else {
      <!-- SI es USER -->
      @if (authService.getRole() === 'USER') {
        <a routerLink="/reservas" class="menu-button">Hacer una reserva</a>
        <a routerLink="/gestionar-reserva" class="menu-button">Gestionar reserva</a>
      }
      <!-- SI es ADMIN -->
      @if (authService.getRole() === 'ADMIN') {
        <a routerLink="/clientes" class="menu-button">Gestionar clientes</a>
        <a routerLink="/reservas" class="menu-button">Hacer una reserva</a>
        <a routerLink="/gestionar-reserva" class="menu-button">Gestionar reserva</a>
      }
      <!-- Botón de logout -->
      <button (click)="logout()" class="menu-button logout">Cerrar sesión</button>
    }
  </nav>
</div>
